<div class="bg-dark text-white">
  <div class="container-fluid">
    <p class="py-5 mb-0">
      CH &amp; BG
    </p>
  </div>
</div>

<!-- LOAD UI Frameworks -->
<!-- jQuery slim for bootstrap js -->
<script src="/javascripts/jquery-3.5.0.slim.min.js"></script>
<!-- Bootstrap js -->
<script src="/javascripts/bootstrap.bundle.min.js"></script>

<!-- LOAD PWA Frameworks -->

<!-- idb.js -->
<script src="/javascripts/idb.js"></script>

<!-- socket.io -->
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

<!-- Main program -->
<script src="/javascripts/app.js"></script>

</body>
</html>
