<% include partials/header %>
<div class="have-full-height">
  <div class="container-fluid">
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    <h1 id="title"><%= title %></h1>
    <p id="lead" class="lead"><%= title %></p>

    <div id="content">
      <div class="row">
        <div class="col-lg-10 col-xl-8">
          <div class="cell">
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>